.counter{
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

.counter h1{
    text-transform: uppercase;
    color: #575757;
}

.value{
    font-size:  2rem;
    margin: 1rem 0;
    font-weight: bold;
}

.counter button{
    margin: 0.5rem;
    padding: 5px 10px;
    border: none;
    background-color: rgb(74, 20, 173);
    color: #fff;
    border-radius: 8px;
}